-$gift = {img1h: 236, img2h: 276};
/ variables globales FR
- $campaign = "&utm_campaign=0815_relance";
- $month    = [0," de janvier"," de février"," de mars"," d'avril"," de mai"," de juin"," de juillet"," d'août"," de septembre"," d'octobre"," de novembre"," de décembre",];
/ txt
- $title      = "Rouge ou bleu, lequel voulez-vous recevoir ?";
- $head_txt1  = "La collection du mois"+$month[8]+" est arrivée ! Découvrez la vite et recevez votre cadeau gratuit !";
- $head_txt2  = ["Si la page ne s'affiche pas correctement consultez ","la version en ligne"];
- $code       = "L4WB";
- $legal      = ["* Votre cadeau vous est offert gratuitement, en fonction des stocks disponibles. En cas de rupture de stocks, Temps L se réserve le droit de remplacer votre cadeau par un article de valeur équivalente ou supérieure. Si vous ne souhaitez pas commander, vous pouvez envoyer votre demande, par courrier uniquement, à TEMPS L 59685 Roubaix Cedex 2, (6,99€ en carte Bancaire) pour la participation aux frais de mise à disposition, les frais de traitements étant les mêmes que pour une commande livrée à domicile. Votre Cadeau vous sera expédié dans un délai de 3 mois maximum, les commandes étant prioritaires. Photos non contractuelles.",""];
- $cmcmention = "** Le Set de 3 boîtes de conservation pour 2€ seulement en remerciement de votre commande de 50€ ou plus.";
- $cmcmention2 = "*** Voir le règlement de l'Opération &quot;Grande Gagnante de l'Eté&quot;.";
- $phoneCost  = "<br /> 0,34€ / mn + surcout éventuel selon opérateur.";
- $loiLibertes = "Conformément à la loi informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux informations vous concernant, qui peut s'exercer par la rubrique contact du site ou par courrier à Temps L -, en indiquant vos nom, prénom, adresse et n° client.";
/ alt
- $cata_alt     = "Feuilletez le nouveau catalogue : cliquez ici";
- $kdo1_alt     = "Vos avantages de l’été Le Sac de Plage ESCAPADE GRATUIT Avec votre commande*.";
- $kdo2_alt     = "Le Set de 3 Boîtes de conservation deux Coloris au choix 2€ seulement** : Proﬁtez-en vite !";
- $cmd          = ["Comment profiter de mes avantages ?","J'indique mon code cadeau lors de ma commande :"];
- $internet_alt = "Sur internet Rendez-vous sur www.tempsl.fr";
- $phone_alt    = "Par téléphone au 0892 461 461 du lundi au vendredi de 7h à 20h, le samedi de 9h à 19h";
- $garan_alt    = "SATISFAIT OU REMBOURSÉ";
- $livr_alt     = "LIVRAISON À LA CARTE";
- $paie_alt     = "PAIEMENT SÉCURISÉ";
- $garan2_alt   = "GARANTIE 1 AN";
/ link
/ old #ctl00_ContentPlaceHolder1_RepeatNiveau_cadeau_ctl01_LAB_PRIVILEGE_COMMANDE
- $ancreKDO        = "";
- $TL              = "http://www.tempsl.fr/fr/";
- $logo            = $TL+"index.aspx?utm_source=NL&utm_medium=email&utm_content=HP"+$campaign;
- $cata_interactif = "http://www.tempsl.fr/cat/fr/ECatalog.htm?utm_source=NL&utm_medium=email&utm_content=cata_interactif"+$campaign;
- $kdo             = $TL+"animation/presentation-cadeaux.aspx?utm_source=NL&utm_medium=email&utm_content=kdo"+$campaign+$ancreKDO;
- $internet        = $TL+"index.aspx?utm_source=NL&utm_medium=email&utm_content=HP"+$campaign;
- $garan           = $TL+"achat_confiance/garanties.aspx?utm_source=NL&utm_medium=email&utm_content=garantie"+$campaign;
- $livr            = $TL+"achat_confiance/informations-livraison.aspx?utm_source=NL&utm_medium=email&utm_content=livraison"+$campaign;
- $paie            = $TL+"achat_confiance/paiement-securise.aspx?utm_source=NL&utm_medium=email&utm_content=paiement"+$campaign;
- $contact         = $TL+"tempsl_et_vous/contact.aspx?val=A&utm_source=NL&utm_medium=email&utm_content=contact"+$campaign;
- $desabo          = $TL+"animation/DesinscriptionNewsletter.aspx?utm_source=NL&utm_medium=email&utm_content=desabo"+$campaign;
- $regl          = "http://www.tempsl.fr/fr/pages/settlement.aspx?utm_source=NL&utm_medium=email&utm_content=ope_gan_ete&utm_campaign=0815_cata#info-legale-6";